[submodule "cmake/llvm-ir-cmake-utils"]
	path = cmake/llvm-ir-cmake-utils
	url = https://github.com/compor/llvm-ir-cmake-utils.git
[submodule "cmake/llvm-ir-cmake-pipelines"]
	path = cmake/llvm-ir-cmake-pipelines
	url = https://github.com/compor/llvm-ir-cmake-pipelines.git
